<div class="contents row">
  <% @tweets.each do |tweet| %>
  <span class="title"><%= tweet.title %></span>
  <span class="name"><%= tweet.name %></span>
  <div class="content_post" style="background-image: url(<%= tweet.image %>);">
  </div>
  <% end %>
</div>