$accent: #57C3E9;
$black: #292929;
$dark: #666;
$darkGray: #999999;
$gray: #D8D8D8;
$lightGray: #f5f5f3;
$white: white;


//mixin

@mixin boxBase($margin: 30px auto, $padding: 10px) {
  margin: $margin;
  padding: $padding;
}
@mixin basePadding($padding: 10px) {
  padding: $padding;
}
@mixin baseMargin($margin: 10px auto) {
  margin: $margin;
}

body,html {
  height: 100%;
  background-color: $lightGray;
}

body {
  padding-top: 60px;
}

h1,h2,h3,h4,h5,h6,body {
line-height: 1.57;
  letter-spacing: 0.02em;
  font-size: 16px;
  color: $dark;
  margin: 0;
}

span{
  display:block;
}

a {
  text-decoration: none;
  color: $dark;
}

.btn {
    @include basePadding(8px 20px);
    font-size: 14px;
    color: $dark;
    font-weight: bold;
    text-align: center;
    display: inline-block;
  &:hover {
    border-color: lighten($accent, 15%);
    color: lighten($accent, 15%);
  }
}




header.header {
  @include basePadding($padding: 10px 260px 10px 260px) ;
  border-bottom: 1px solid $gray;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  
  div.header__bar.row {
    position: relative; 
    h1.grid-6 {
      font-size: 20px;
      line-height: 41px;
      float: left;
      a {
        display: block;
      }
    }
    div.grid-6 {
      float: right;
      text-aligin: right;
      a.post {
        @extend .btn;
        width: 120;
        display: inline-left;
        margin-left: 10px;
      }
    }
  }
}


div.contents.row {
  @include boxBase(20px 250px 30px 250px);
  h2 {
    @include boxBase(20px 0, 0);
  }
  div.content_post {
    @include boxBase(5px 0 50px);
    position: relative;
    height: 600px;
    color: #fff;
    background-size: cover;
    background-position: center center;
    
  }
}